<ion-view title="Change Your Password">
    <ion-content padding="true" class="has-header" ng-controller="SignupCtrl">
        <form name="changepasswordform" novalidate>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-key placeholder-icon"></i> Secret Key</span>
                    <input type="text" placeholder="Enter key from email" ng-model="change.secret_key" ng-minlength="6" required>
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-key placeholder-icon"></i> New Password</span>
                    <input type="password" placeholder="Min. 6 characters" ng-model="change.new_pass" ng-minlength="6" required>
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ion-key placeholder-icon"></i> Confirm Password</span>
                    <input type="password" placeholder="Min. 6 characters" ng-model="change.confirm_pass" ng-minlength="6" required>
                </label>
                      <p class="validation-message-error"><i class="icon ion-help-circled"></i> Can't see the email? Please check your junk/spam mail also.</p>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button ion-forward button-energized button-block noborder" ng-disabled="changepasswordform.$invalid" ng-click="changepass()"> Change </button>
            <a ui-sref="forgotpassword" class="button ion-key button-energized button-clear button-block"> Don't have a secret key? Submit again</a>
        </form>
    </ion-content>
</ion-view>