
<ion-view title="Forgot Your Password?">
    <ion-content padding="true" class="has-header" ng-controller="SignupCtrl">
        <form name="forgotpasswordform" novalidate>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-at placeholder-icon"></i> Confirm</span>
                <input type="email" placeholder="Enter Your Student Email" ng-model="resetemail" required>
            </label>
        </form>
        <button class="button ion-forward button-energized button-block noborder" ng-click="resetpass()" ng-disabled="forgotpasswordform.$invalid"> Submit</button>
        <div class="button-bar">
            <a ui-sref="login" class="button button-stable button-outline button-block">Login</a>
        </div>
        <a ui-sref="signup" class="button button-stable button-clear button-block">Sign Up</a>
    </ion-content>
</ion-view>
