
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-energized">
          <h1 class="title"><i class="icon ion-chatbox-working"></i> Post a comment:</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding" >
          <div class="list">
  <label class="item item-input">
    <textarea class="modaltextarea" placeholder="Enter your message..." ng-model="comment.text"></textarea>
  </label>
            <button class="button icon-left ion-paper-airplane button-block button-energized noborder" ng-click="postcomment(); modal.hide()"> Submit!</button>
          </div>
        </ion-content>
      </ion-modal-view>
