      <ion-popover-view>
        <ion-content style="height: auto">
          <div class="list">
            <a class="item" ng-click="cardRefresh(); closePopover()">
              <i class="icon ion-android-refresh" style="padding-right: 7px;"></i> Refresh Items
            </a>
            <a class="item" ng-click="openMenu(); closePopover()">
              <i class="icon ion-android-menu" style="padding-right: 7px;"></i> Open Menu
            </a>
<!--            <a class="item" ng-click="toggleRightMenu(); closePopover()">
              <i class="icon ion-android-options" style="padding-right: 7px;"></i> Filter Results
            </a>-->
          </div>
        </ion-content>
      </ion-popover-view>